.berkshire {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    user-select: none;
    font-family: "Berkshire Swash", serif;
    /* Gradient */
    background: #2f7336; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2f7336, #aa3a38); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2f7336, #aa3a38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* From https://uigradients.com/ */
}

#header, #footer{
    text-align: center;
    max-width: 20rem;
    margin: 0;
}

#header h1, h2 {
    margin: 0;
}

/* */
#tree {
    width: 20rem;
    z-index: 0;
    padding-top: 2rem;
}

#star {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 3rem;
    z-index: 5;
    user-select: none;
}

.ornament {
    z-index: 10;
    position: absolute;
    top: 15rem;
}

#tree-container {
    position: relative;
    margin: 1rem auto;
}

/* part of hyperstown's pure-snow.js - used under the MIT License */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}
